* {
    box-sizing: border-box;
    font-family: 'helvetica neue', Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    outline: 0;
    user-select: none;
}

.container {
    display: flex;

}

.display#display {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    text-align: end;
    font-size: 30px;
    font-weight: 300;
    height: 60px;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #1a1a1a; color:#ffffff;
    letter-spacing: 1px;

}

.calculator {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 400px;
    width: 350px;
    margin: 200px auto;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
    background-color: #f8f6f0;
    
}


.buttons {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    gap: 4px;
    width: 100%;
    height: 100%;
    font-weight: 500;
    color: #333333;
    background-color: #f0f0f0;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

button {
    border-radius: 8px;
    background-color: #e6e6e6;
    width: 24%;
    height: 22%;
}

.clear, 
button[value="0"],
button[value="."],
button[value="/"],
button[value="="]{
    width: 19%;
}

.clear {
    background-color: #ed8008;
}

.clear:active {
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    transform: scale(0.97);
    transition: all 0.1s ease;
    background-color: #ed3f1c;
}

.clear:hover {
    background-color: #ed3f1c;
    transition: all 0.1s ease;
}

button:hover {
    background-color: #d9d9d9;
    transition: all 0.1s ease;
}
button:active {
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    transform: scale(0.97);
    transition: all 0.1s ease;
    background: #e6e6e6;
}

.decimal {
    display: flex;
    height: 22%;
    align-items: center;
    justify-content: center;
    
}
